.main-grid {
	@include row-flex();
	justify-content: center;
}

.sidebar {
	@include col();
	@include size(3);
	overflow: hidden;
}

.main-content {
	@include col();
	@include size(9);
	overflow: hidden;
}

.bestProduct-grid {
	@include row-flex();
	justify-content: space-between;
}

.bestProduct-item {
	@include col();
	@include size(4);
	overflow: hidden;
}