.product-page {
	margin-bottom: 62px;

	&__grid {
		display: flex;
		justify-content: space-between;
		margin-bottom: 74px;
		align-items: flex-end;
	}	

	&__left,
	&__right {
		width: 50%;
	}

	&__right {
		text-align: center;	
	}
}

.product-name {
	font-size: 36px;
	font-family: $thin;
	font-weight: normal;
	margin-bottom: 34px;
	color: $black;
}

.model,
.inStock {
	font-size: 14px;
	color: #999;

	span {
		color: $black;
		font-family: $semibold;
	}
}

.model {
	margin-bottom: 9px;
}

.price-page {
	margin-top: 37px;
	font-size: 30px;
	font-family: $thin;
	color: #20222f;
	margin-bottom: 91px;
}

.addCart-block {
	margin-bottom: 37px;
}

.addCart-link {
	display: inline-block;
	background: $green;
	color: $white;
	font-size: 18px;
	font-family: $thin;
	padding: 14px 62px 13px 56px;
	margin-right: 30px;

	&:hover {
		text-decoration: none;
		color: $white;
	}
}

.product-qt {
	display: inline-block;
	vertical-align: bottom;
}

.st {
	font-size: 14px;
	color: black;
}

.field-qt {
	max-width: 105px;
	border: 1px solid #ccc;
	padding: 7px 13px;
	font-size: 14px;
	color: $black;
}

.review__link {
	display: inline-block;
	color: $accent;
	text-decoration: underline;
	margin-right: 5px;

	&:hover {
		text-decoration: none;
		color: $accent;
	}
}

.big-pic {
	//max-width: 320px;
	max-width: 70%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.recomendation {
	margin-bottom: 45px;
}